/* .vto-add-cart {
  position: absolute;
  right: 20px;
  bottom: 140px;
} */

.vto-cart-action {
  position: absolute;
  right: 20px;
  bottom: 140px;
}

.vto-product-price {
  font-size: 16px;
  background: rgba(0, 0, 0, 0.34901960784313724);
  color: #fff;
  padding: 12px 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.vto-btn-add-cart {
  background: #61b486;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  width: auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all 0.2s;
  line-height: 1;
  text-decoration: none;
  position: relative;
  font-family: open sans;
  font-weight: 600;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 10px;
}

.vto-btn-add-cart:hover {
  opacity: 0.9;
}

.vto-msg-wrapper {
  position: absolute;
  bottom: -105px;
  left: 0;
  width: calc(100% - 40px);
  background: rgb(223 244 231);
  border-radius: 15px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vto-msg-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.vto-msg-desc {
  font-size: 13px;
}

.vto-link a {
  color: #61b486;
  font-weight: 700;
}
