/* .vto-add-cart {
  position: absolute;
  right: 20px;
  bottom: 140px;
} */

.vto-cart-action {
  position: absolute;
  right: 30px;
  bottom: 134px;
}

.vto-product-price {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.34901960784313724);
  color: #fff;
  padding: 9px 15px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.vto-btn-add-cart {
  background: #61b486;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  width: auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid transparent;
  transition: all 0.2s;
  line-height: 1;
  text-decoration: none;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 12px;
}

.vto-btn-add-cart:hover {
  opacity: 0.9;
}

.vto-msg-wrapper {
  position: absolute;
  bottom: -105px;
  left: 0;
  width: calc(100% - 40px);
  background: rgb(223 244 231);
  border-radius: 15px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vto-msg-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.vto-msg-desc {
  font-size: 13px;
}

.vto-link a {
  color: #61b486;
  font-weight: 700;
}

.animate__bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
