.vto-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none !important;
}

.vto-splash-loader {
  position: absolute;
  width: 60%;
  top: 30%;
  text-align: center;
  left: 20%;
  right: 20%;
  font-size: 14px;
}

.vto-progress-wrapper {
  width: 100%;
  height: 6px;
  border-radius: 40px;
  color: #a0a4b7;
  border: 1.5px solid;
  position: relative;
  overflow: hidden;
  background: #a0a4b7;
  margin-top: 30px;
}

.vto-progress-wrapper .vto-progress {
  background-color: #fff;
  width: 2%;
  height: 8px;
  border: 2px solid #a0a4b7;
  border-radius: 30px;
}

.vto-progress-wrapper:before {
  content: "";
  position: absolute;
  margin: 1px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
  border-radius: inherit;
  background: #fff;
  -webkit-animation: vto-progress-anim 3s ease-in-out infinite;
  animation: vto-progress-anim 3s ease-in-out infinite;
}

.vto-blur-text {
  color: #31395f;
  opacity: 0.65;
  margin-top: 35px;
}

@-webkit-keyframes vto-progress-anim {
  to {
    left: calc(100% + 20px);
  }
}

@keyframes vto-progress-anim {
  to {
    left: calc(100% + 20px);
  }
}
