.vto-snapshot-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}

.vto-preview-container {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vto-preview-container > img {
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 8px) !important;
  border-radius: 15px;
}

.vto-preview-msg {
  position: absolute;
  top: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: rgb(14 24 83 / 56%);
  min-width: 40%;
  font-size: 13px;
  border-radius: 10px;
}

.vto-preview-container .vto-items-center {
  display: flex;
  align-items: center;
}

.vto-preview-container .vto-icon-container {
  width: 18px;
  height: 18px;
}

.vto-preview-container .vto-text-container {
  margin-left: 5px;
}

.vto-preview-container .vto-close-action {
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  border: none;
  color: white;
}

.vto-preview-container .vto-close-action:hover {
  font-weight: 600;
}

.vto-download-wrapper {
  bottom: 15px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: rgb(31 31 31 / 56%);
  min-width: 40%;
  font-size: 13px;
  border-radius: 10px;
}

.vto-download-wrapper > a {
  display: none;
}

.vto-download-action {
  cursor: pointer;
}

.vto-download-action:hover {
  font-weight: 600;
}
