.vto-variations-wrapper {
  position: absolute;
  left: 30px;
  bottom: 138px;
}

.vto-variations {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.vto-variations > li {
  margin-left: 0.73rem;
}

.vto-variations > li:first-child {
  margin-left: 0;
}

.variation-item {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-radius: 9999px;
  background-color: rgb(0 0 0 / 64%);
  text-indent: -9999px;
  cursor: pointer;
  background-size: contain;
  transition-property: border-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.variation-item.active,
.variation-item:hover {
  transform: scale(1.1);
  border-color: #80c8c1;
}
